.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.form__input {
  display: block;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0 32px 0;
  border-radius: 4px;
  height: 60px;
  padding-left: 15px;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  transition: opacity ease-out;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  height: 60px;
}
.form__button:hover {
  opacity: 70%;
}

input::placeholder {
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
